{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Post Creation Page {% endblock title %}
{% block content %}
<!-- page of creating posts -->
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Post </legend>
            {{ form | crispy }}
        </fieldset>
        <br>
        <div class="form-group">
            <button class="btn btn-outline-dark" type="submit">Post</button>
        </div>
    </form>
</div>
{% endblock content %}