{% extends 'blog/base.html' %}
{% block title %}{{ object.author.first_name }} Post{% endblock title %}

{% block content %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" >
            <div class="media-body">
            <div class="article-metadata">
                <a class="" href="{% url 'user-profile' post.author.username %}" style="text-decoration: none">{{ object.author }}</a>
                <br>
                <small class="text-muted">Date objected : {{ object.date_posted | date:"F d, Y" }} | Last Modified : {{ object.last_modified }}</small><br>
                <small class="text-muted">Category : <a href="{% url 'blog-category' object.category %}">{{ post.category }}</a></small>
                {% if object.author == user %}
                    <div class="mb-2 mt-2">
                        <a class="btn btn-sm btn-secondary" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <div>
                <p class="article-content">{{ object.body }}</p>
            </div>
            </div>
        </article>

        <div id="like-section" class="container">
            {% include 'blog/like_section.html' %}
        </div>

        {% if user.is_authenticated %}
          <br>
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              {{ comment_form }}
                <br>
              <small><button class="btn btn-secondary" type="submit">Add comment <i class="fas fa-comments"></i></button></small>
            </div>
          </form>
        {% else %}
        <br>
          <small><a style="text-decoration:none" href="{% url 'user-registration' %}">Sign Up </a></small>
            or
          <small><a  style="text-decoration:none"  href="{% url 'login' %}">login</a></small>
          to add comment
        {% endif %}
        <hr>

            <br>
            <strong class="text-secondary">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong>
            <hr>

       <div id="comment-like-section" class="container">
            {% include 'blog/comment_like_section.html' %}
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(event){
                $(document).on('click', '#like', function(event){
                    event.preventDefault();
                    $.ajax({
                        type : 'POST',
                        url : "{% url 'like-post' object.id %}",
                        data : {'csrfmiddlewaretoken' : '{{ csrf_token }}'},
                        dataType : 'json',
                        success: function(response){
                            $('#like-section').html(response['form'])
                            
                        },
                        error: function(rs, e){
                            console.log(rs.responseText);
                        },
                    });
                });

                 $(document).on('click', '#dislike', function(event){
                    event.preventDefault();
                    $.ajax({
                        type : 'POST',
                        url : "{% url 'dislike-post' object.id %}",
                        data : {'csrfmiddlewaretoken' : '{{ csrf_token }}'},
                        dataType : 'json',
                        success: function(response){
                            $('#like-section').html(response['form'])
                        },
                        error: function(rs, e){
                            console.log(rs.responseText);
                        },
                    });
                });

                $(document).on('click', '#comment_like', function(event){
                    event.preventDefault();
                    var comment_id=this.value;
                    $.ajax({
                        type : 'POST',
                        url : "{% url 'like-comment' 0 %}".replace('0', comment_id),
                        data : {'csrfmiddlewaretoken' : '{{ csrf_token }}'},
                        dataType : 'json',
                        success: function(response){
                            console.log(response['form']);
                            $('#comment-like-section').html(response['form'])

                        },
                        error: function(rs, e){
                            window.location.href="http://127.0.0.1:8000/login/?next={% url 'post-detail' object.id %}";
                            console.log(rs.responseText);
                        },
                    });
                });

                  $(document).on('click', '#comment_dislike', function(event){
                    event.preventDefault();
                    var comment_id=this.value;
                    $.ajax({
                        type : 'POST',
                        url : "{% url 'dislike-comment' 0 %}".replace('0', comment_id),
                        data : {'csrfmiddlewaretoken' : '{{ csrf_token }}'},
                        dataType : 'json',
                        success: function(response){
                            $('#comment-like-section').html(response['form'])
                        },
                        error: function(rs, e){
                            window.location.href="http://127.0.0.1:8000/login/?next={% url 'post-detail' object.id %}"
                            console.log(rs.responseText);
                        },
                    });
                });
            });
        </script>




{% endblock content %}