{% extends 'blog/base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <a href="#"><img class="rounded-circle article-img" src="#" ></a>
            <div class="media-body">
            <div class="article-metadata">
                <a class="" style="text-decoration: none; font-size: 25px;" href="#">{{ post.author }}</a>
                <br>
                <small class="text-muted">Date Posted : {{ post.date_posted | date:"F d, Y" }}</small><br>
                <small class="text-muted">Category : <a href="#">Category</a></small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <div>
                <p class="article-content">{{ post.snippet | slice:500 }}</p>
            </div>
            </div>
            <a href="#" class="btn btn-outline-secondary">See More...</a>
        </article>
    {% endfor %}

{% endblock content %}